---
import Layout from "../../layouts/Layout.astro";
import {Image} from "astro:assets";
import {GetAllPost} from "../../lib/application/post/getAllPosts/getAllPosts.action";
import {PostAstroContentAdapter} from "../../lib/infrastructure/adapter/PostAstroContentAdapter";
import {GetPost} from "../../lib/application/post/getPost/getPost.action";

export async function getStaticPaths() {
  const allBlogPosts = await new GetAllPost(new PostAstroContentAdapter()).execute();
  return allBlogPosts.map((post) => {
    return {
      params: {
        post: post.slug,
      }
    }
  });
}

const {post} = Astro.params;
const postData = await new GetPost(new PostAstroContentAdapter()).execute(post);
const { Content, headings } = await postData.render();
---

<Layout title={postData.slug} canonical={postData.canonical_url}>
    <article class="pt-20 md:pb-3 lg:pt-28 lg:pb-16">
        <h1>{postData.title}</h1>
        <Image
                src={postData.image}
                alt={postData.title}
                width="64"
                height="64"
                class="w-full"
                transition:name={`img-${postData.title}`}
        />
        <Content />
    </article>
</Layout>

<style is:inline>
    article {
        max-width: 800px;
        margin: 0 auto;
        padding: 0 1rem;
    }

    h1 {
        text-align: center;
        font-size: 1.6rem;
        font-weight: bold;
    }

    ol {
        list-style-type: decimal;
        margin-left: 2rem;
    }

    p {
        margin: 1rem 0;
    }

    h1 {
        font-size: 2rem;
        font-weight: bold;
        margin: 1rem 0;
    }

    h2 {
        font-size: 1.5rem;
        font-weight: bold;
    }

    pre {
        background-color: #1a202c;
        color: #fff;
        padding: 1rem;
        border-radius: 0.5rem;
        overflow-x: auto;
    }

    .read-more {
        color: #00DFFC;
    }
</style>