---
import Layout from "../../layouts/Layout.astro";
import {getCollection, getEntry} from 'astro:content';
import {Image} from "astro:assets";

export async function getStaticPaths() {
  const allBlogPosts = await getCollection('posts');
  return allBlogPosts.map((post) => {
    return {
      params: {
        post: post.slug,
      }
    }
  });
}

const {post} = Astro.params;
const postData = await getEntry('posts', post);
const { Content, headings } = await postData.render();
---

<Layout title="Home" canonical={postData.data.canonical_url}>
    <article>
        <h1>{postData.data.title}</h1>
        <Image
                src={postData.data.image}
                alt={postData.data.title}
                width="64"
                height="64"
                class="w-full"
                transition:name={`img-${postData.data.title}`}
        />
        <Content />
    </article>
</Layout>

<style is:inline>
    article {
        max-width: 800px;
        margin: 0 auto;
        padding: 0 1rem;
    }

    h1 {
        text-align: center;
        font-size: 1.6rem;
        font-weight: bold;
    }
</style>