---
import Layout from '../../layouts/Layout.astro';
import Card from "../../components/astro/Card.astro";
import {getCollection} from 'astro:content';

const allBlogPosts = await getCollection('posts');
---

<Layout title="ascinfo | blog">
    <section class="mx-auto max-w-screen-xl px-6 py-3 flex flex-wrap justify-center md:justify-evenly">
        {allBlogPosts.map((post) => (
                <Card
                    title={post.data.title}
                    image={post.data.image}
                    href={`/blog/${post.slug}`}
                    tags={post.data.tags}
                    key={post.slug}
                />
        ))}
    </section>
</Layout>
