---
import Layout from '../../layouts/Layout.astro';
import Card from "../../components/astro/Card.astro";
import {GetAllPosts} from "../../lib/application/post/getAllPosts";
import {PostAstroContentAdapter} from "../../lib/infrastructure/adapter/PostAstroContentAdapter";

const allBlogPosts = await new GetAllPosts(new PostAstroContentAdapter()).execute();
const blogDescription = "Explora mis artículos sobre desarrollo de software y tecnología, donde comparto conocimientos sobre programación en diversos lenguajes, mejores prácticas de desarrollo, patrones de diseño, consejos para escribir código limpio y mucho más. Acompáñame en un viaje de aprendizaje y mejora continua en el mundo del desarrollo de software.";
---

<Layout title="Aitor Santana | Blog" description={blogDescription}>
    <section class="mx-auto max-w-screen-xl flex flex-wrap justify-center pt-20 px-6 py-3 last:mr-auto md:p-20 md:pb-3 lg:pt-28 lg:pb-16 md:justify-evenly lg:grid-cols-3 lg:gap-6">
        {allBlogPosts.map((post) => (
                <Card
                    title={post.title}
                    image={post.image}
                    href={`/blog/${post.slug}`}
                    date={post.date}
                    tags={post.tags}
                    key={post.slug}
                />
        ))}
    </section>
</Layout>
