---
import Layout from '../../layouts/Layout.astro';
import {GetAllProjects} from "../../lib/application/project/getAllProjects";
import {ProjectAstroContentAdapter} from "../../lib/infrastructure/adapter/ProjectAstroContentAdapter";
import ProjectCard from "../../components/astro/ProjectCard.astro";

const allProjects = await new GetAllProjects(new ProjectAstroContentAdapter()).execute()
const allProjectsOrderByDateAsc = allProjects.sort((a, b) => new Date(b.date).getTime() - new Date(a.date).getTime())
---

<Layout title="ascinfo | proyectos">
    <section class="mx-auto max-w-screen-xl flex flex-wrap justify-center pt-20 px-6 py-3 md:p-20 md:pb-3 lg:pt-28 lg:pb-16 md:justify-evenly lg:justify-start lg:grid-cols-3 lg:gap-6">
    {
        allProjectsOrderByDateAsc.map(project => (
            <ProjectCard
                title={project.title}
                image={project.image}
                href={project.slug}
                repository={project.repository}
                demo={project.demo}
                date={project.date}
            />
        ))
    }
    </section>
</Layout>
